# Common packaging directories
/bin/
/build/
/dist/
/env/
/lib/
/lib64/
/parts/
/sdist/
/var/
/temp/

# Common user directories
.*/
__pycache__/
/Downloads/
/Logs/
/pyload/
/tmp/
/userplugins/

# Common user files
*.backup
*.db
*.pid
/*.conf
/*.version
/*.txt
/*.xml
/*.zip
/module/config/core.xml
/module/config/plugin.xml

# Common MacOS & Windows files
*.DS_Store
Thumbs.db
desktop.ini

# Certificate files
cert.pem
ssl.crt
ssl.key

# Common compiled files
*.mo
*.so
*.py[cod]
!/module/plugins/container/DLC_*.py[cod]

# Installer files
.installed.cfg
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# EGG
*.egg
*.egg-info
develop-eggs
eggs

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# PyCharm
.idea

# Other development stuff
.svn
*~
*.orig
*.pidaproject
*.prefs
*.project
*.pydevproject
*.rej
/docs/_build/
DLC_*.py
paver-minilib.zip
